@import "variables";

.radio-buttons-inline .radio {
  display: inline-block;
  margin-right: 18px;
}

.form-group.error > label {
  color: #333;
}

.state_aid {
  .input-group {
    float: left;
  }

  input.string {
    margin-right: 10px;
  }

  &.error {
    input.string {
      color: #555;
    }

    input.btn-info {
      border-color: #2F96B4 #2F96B4 #1F6377;
      color: #fff;
    }
  }
}

.duration input {
  width: 50px;
}

.form-agreed-draw,
.form-data-correction,
.form-eligibility-check,
.form-lending-limit,
.form-loan-cancel,
.form-loan-change,
.form-loan-entry,
.form-loan-offer,
.form-loan-guarantee,
.form-loan-remove-guarantee,
.form-loan-demand-to-borrower,
.form-loan-lender-demand-satisfied,
.form-loan-repay,
.form-loan-no-claim,
.form-loan-search,
.form-loan-transfer,
.form-loan-demand-against-government,
.form-state-aid-calculation,
.form-invoice,
.form-premium-schedule-report,
.form-recovery,
.form-realise-loans,
.cancel-reschedule,
.loan-report {
  .control-label {
    text-align: left;
    font-weight: normal;
  }

  .form-actions {
    text-align: center;
    padding-left: 0;
  }
}

.form-actions {
  margin: 20px 0;
  padding: 19px 20px 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;

  .btn {
    margin-right: 0.5em;
  }

  .btn:last-child {
    margin-right: 0;
  }
}

.form-select-loans .alert {
  display: block;
}

.errors-on-base {
  margin: 0 0 1em 0;
  padding: 1em;
  list-style-position: inside;
  background-color: #eee;
  border: 1px solid #B94A48;
  border-radius: 5px;
  color: #B94A48;
}

.cancel-reschedule .form-actions {
  margin: -2em 0 0 0;
  border: 0;
}

.form-ask-an-expert,
.form-ask-cfe {
  .to {
    .controls {
      padding-top: 5px;
    }
  }
}

.table-expert-users form {
  margin-bottom: 0;
}
