@import "bourbon";
@import "variables";

.loan-alerts {
  width: 940px;

  .loan-alert {
    position: relative;
    background-color: $light_grey;
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 10px;
    @include box-shadow(1px 1px 1px #ccc);
    @include linear-gradient($light_grey,#fff);

    h4 {
      margin: 0 0 0.5em 0;
    }

    canvas {
      border-bottom: 1px solid $medium_grey;
    }

    ol.dates {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        display: block;
        width: 32.8%;
      }

      li.first {
        text-align: left;
      }

      li.second {
        text-align: center;
      }

      li.third {
        text-align: right;
      }
    }

    .view-all {
      position: absolute;
      top: 10px;
      right: 20px;
      padding: 0.2em 0.5em;
      background-color: #ddd;
      border-radius: 5px;
    }
  }

}

.bar-chart {
  height: 100px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid $medium_grey;

  a {
    position: relative;
    float: left;
    display: block;
    height: 100%;
    text-decoration: none;

    &.high-priority {
      width: 150px;

      span {
        background-color: $red;
      }
    }

    &.medium-priority {
      width: 300px;

      span {
        background-color: $amber;
      }
    }

    &.low-priority {
      width: 450px;

      span {
        background-color: $dark_green;
      }
    }

    p.total-loans {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 1.5em;
      color: $medium_grey;
      line-height: 2em;
    }

    &:hover p.total-loans {
      cursor: pointer;
      display: block;
      color: #000;
      background-color: rgba(255,250,227,0.6); /* beige */
    }

    div {
      position: relative;
      display: block;
      float: left;
      width: 14px;
      margin-right: 1px;
      height: 100%;

      span {
        position: absolute;
        width: 100%;
        bottom: 0;
        color: #fff;
        display: block;
        padding: 0;
      }
    }
  }
}