/* Breakpoints */
$small_devices_breakpoint: '768px';
$medium_devices_breakpoint: '992px';
$large_devices_breakpoint: '1200px';

@media (max-width: $medium_devices_breakpoint) {
  #loan_lookup.navbar-right {
    float: none !important;
    padding-left: 0;
  }

  .bar-chart {
    width: auto;
    overflow: hidden;
  }

  .loan-alerts .loan-alert ol.dates li.third {
    display: none;
  }
}

@media (max-width: $small_devices_breakpoint) {

  .page-header {
    margin-top: 9px;
    padding-bottom: 12px;
    position: relative;
    width: 100%;

    #actions {
      position: static;
      padding-left: 0;
      margin-top: 10px;
      text-align: left;
    }
  }

  .loan-alert {
    .total-loans {
      display: none;
    }
  }

  .loan-alerts .loan-alert ol.dates li.second {
    display: none;
  }
}