@import "variables";

/* Breakpoints */
$small_devices_breakpoint: '768px';
$medium_devices_breakpoint: '992px';
$large_devices_breakpoint: '1200px';

@media (max-width: $medium_devices_breakpoint) {
  #loan_lookup.navbar-right {
    float: none !important;
    padding-left: 0;
  }

  .bar-chart {
    width: auto;
    overflow: hidden;
  }

  .loan-alerts .loan-alert ol.dates li.third {
    display: none;
  }

  .loan-alert-options {
    .alert-links {
      margin-bottom: 10px;
    }

    .export-csv {
      float: none !important;
      clear: left;
      padding-top: 10px;
      border-top: 1px solid $medium_grey;
    }
  }
}

@media (max-width: $small_devices_breakpoint) {

  .navbar.navbar-secondary {
    .nav > li:first-child > a {
      padding-left: 15px;
    }
  }

  #loan_lookup.navbar-right {
    border: 0;
    padding-top: 0;
    padding-left: 15px;
  }

  .page-header {
    margin-top: 9px;
    padding-bottom: 12px;
    position: relative;
    width: 100%;

    #actions {
      position: static;
      padding-left: 0;
      margin-top: 10px;
      text-align: left;
    }
  }

  .loan-alert {
    .total-loans {
      display: none;
    }
  }

  .loan-alerts .loan-alert ol.dates li.second {
    display: none;
  }

  .loan-alert-options {
    float: left;
    width: 100%;

    a {
      display: inline-block;
      float: left;
      clear: left;
      margin-bottom: 10px;
    }
  }
}